*, *:before, *:after {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  overflow: hidden;
}
body, ul {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.4em 'Helvetica Neue', Helvetica, 'Microsoft Yahei', Arial, sans-serif;
  color: #4d4d4d;
  background-color: #f5f5f5;

/* background-image: url('../assets/images/bg.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
ul {
  list-style: none;
}
#chat {
  width: 800px;
  height: 600px;
  margin: 20px auto;
}
@keyframes stream {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.vip-font-color {
  background-image: -webkit-linear-gradient(left,
  green,
  yellow,
  pink,
  blue,
  red 25%,
  green 35%,
  blue 50%,
  yellow 60%,
  red 75%,
  pink 85%,
  blue 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: stream 15s infinite linear;
  background-size: 200% 100%;
}
